<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>

<style type="text/css">
    
        ::selection { background-color: #E13300; color: white; }
        ::-moz-selection { background-color: #E13300; color: white; }
    
        a {
            color: #003399;
            background-color: transparent;
            font-weight: normal;
        }
    
        h1 {
            color: #444;
            background-color: transparent;
            border-bottom: 1px solid #D0D0D0;
            font-size: 19px;
            font-weight: normal;
            margin: 0 0 14px 0;
            padding: 14px 15px 10px 15px;
        }
    
        code {
            font-family: Consolas, Monaco, Courier New, Courier, monospace;
            font-size: 12px;
            background-color: #f9f9f9;
            border: 1px solid #D0D0D0;
            color: #002166;
            display: block;
            margin: 14px 0 14px 0;
            padding: 12px 10px 12px 10px;
        }
    
        #body {
            margin: 0 15px 0 15px;
        }
    
        p.footer {
            text-align: right;
            font-size: 11px;
            border-top: 1px solid #D0D0D0;
            line-height: 32px;
            padding: 0 10px 0 10px;
            margin: 20px 0 0 0;
        }
    
        #container {
            margin: 10px;
            border: 1px solid #D0D0D0;
            box-shadow: 0 0 8px #D0D0D0;
        }
        </style>

    <a class="btn btn-info" href='/buku/add'>Tambah</a> <br><br>
    
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
        <th>Judul</th>
        <th>Penulis</th>
        <th>Tahun</th>
        <th>Harga</th>
        <th>Stok</th>
        <th>Aksi</th>
    </tr>
  </thead>

    <% if (data) { %>
    <% data.forEach(function(buku){ %>
        <tr>
            <td><%= buku.judul %></td>
            <td><%= buku.penulis %></td>
            <td><%= buku.tahun %></td>
            <td><%= buku.harga %></td>
            <td><%= buku.stok %></td>
            <td>
                <div style="float:left">
                    <a class="btn btn-warning" href='/buku/edit/<%= buku._id %>'>Edit</a> &nbsp;
                    <a class="btn btn-success" href='/buku/detail/<%= buku._id %>'>Detail</a> &nbsp;
                    <form method="post" action="/buku/delete/<%= buku._id %>" style="float:right">
                        <input class="btn btn-danger" type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                        <input type="hidden" name="_method" value="DELETE" />
                    </form>
                </div>
            </td>
        </tr>
    <% }) %>
    <% } %>

</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
<!-- code by @ipungdev -->